<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ place.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col>
        <ion-img [src]="place.img"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">{{ place.name }}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3 class="ion-text-center">Continent: {{ place.continent }}</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h4 class="ion-text-center">Interesting Places:</h4>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list *ngIf="place.interests && place.interests.length > 0; else noPlaces">
          <ion-item *ngFor="let i of place.interests">
            {{ i }}
          </ion-item>
        </ion-list>
        <ng-template #noPlaces>
          <ion-text>
            <p>No places pinned yet.</p>
          </ion-text>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
