<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let i of places" [routerLink]="['/places', i.id]">
      <ion-avatar slot="start">
        <ion-img [src]="i.img"></ion-img>
      </ion-avatar>
      <ion-label>
        {{ i.name }}
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
