<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<br />
<br />
<br />
<br />

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome to my App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="https://d2v9ipibika81v.cloudfront.net/uploads/sites/26/BSAs-Southern-Cone-Trade-Mission-1140x684.png">
      </ion-col>
      <ion-col>
        <img src="https://www.ef.com.ar/sitecore/__/~/media/universal/pg/8x5/destination/IT_00_00_1.jpg">
      </ion-col>
      <ion-col>
        <img src="https://www.ecestaticos.com/image/clipping/12d28e3286430223bee40c6c4074ccac/las-soluciones-que-esta-empleando-japon-para-combatir-la-despoblacion.jpg">
      </ion-col>
    </ion-row>
    <br />
    <br />
    <br />
    <br />
    <ion-row>
      <ion-col>
        <div id="container">
          <strong>Places of the World:</strong>
          <p><a defaultHref="/places">See here a list full of beautiful places!</a></p>
          <ion-button color="primary" [routerLink]="['/places']">Watch!</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br />
  <br />
  <br />
  <br />
    
</ion-content>
